configuration {
  modes: "apps:.config/rofi/scripts/apps.sh,run,files:.config/rofi/scripts/files.sh";
  show-icons: false;
  case-sensitive: false;
  matching: "normal";
  terminal: "foot";
  window-format: "  {t}";
  window {
    fallback-icon: "application-x-generic";
  }
  filebrowser {
    directory: ".";
    fallback-icon: "text-x-generic";
  }
}
@theme "theme"
