* {
    font-family: FontAwesome, DejaVuSans, sans-serif;
    font-size: 11px;
}

window#waybar {
    background-color: #09142b;
    color: #ffffff;
}

.modules-left {
    padding-left: 8px;
}

.modules-right {
    padding-right: 8px;
}

#taskbar button {
    padding: 0;
    margin: 0;
}

#taskbar button.active,
#workspaces button {
    padding: 0 8px;
    border: none;
    border-radius: 0;
}

#taskbar button:hover,
#workspaces button:hover {
    background: inherit;
}

#workspaces button.urgent {
    background-color: #182741;
}

#taskbar button box label {
    font-size: 0px;
}

#taskbar button.active box label {
    font-size: 11px;
    font-weight: bold;
}

#custom-launcher,
#custom-notifications,
#network,
#cpu,
#memory,
#battery,
#pulseaudio,
#clock {
    padding: 0 8px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-notifications:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: #2c3952;
}

#taskbar,
#window {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.critical:not(.charging),
#network.disconnected {
    background-color: #2c3952;
}
