* {
    font-family: FontAwesome, DejaVuSans, sans-serif;
    font-size: 11px;
}

window#waybar {
    background-color: #222222;
    color: #ffffff;
}

.modules-left {
    padding-left: 8px;
}

.modules-right {
    padding-right: 8px;
}

#workspaces button {
    padding: 0 8px;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    background-color: #333333;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-notifications,
#network,
#cpu,
#memory,
#battery,
#pulseaudio,
#clock {
    padding: 0 8px;
    color: #ffffff;
}

#custom-notifications:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: #555555;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    background-color: #26a65b;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
