* {
    font-family: DejaVuSans, FiraCodeNerdFont;
    font-size: 11px;
}

window#waybar {
    background-color: #000125;
    color: #ffffff;
}

.modules-left {
    padding-left: 8px;
}

.modules-right {
    padding-right: 8px;
}

#tags,
#window {
    margin: 0 4px;
}

#tags button {
    padding: 0 8px;
    border: none;
    border-radius: 0;
    color: #ffffff;
}

#tags button:hover {
    background: inherit;
}

#tags button.urgent {
    background-color: #4039aa;
}

#tags button.focused {
    background-color: #0f096a;
}

#window.focused {
    font-weight: bold;
}

#custom-notifications,
#layout,
#network,
#cpu,
#memory,
#battery,
#pulseaudio,
#clock {
    padding: 0 8px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-notifications:hover,
#layout:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: #292199;
}

#battery.critical:not(.charging),
#network.disconnected {
    background-color: #4039aa;
}
